---
layout: default
title: Blog
description: Personal includes a simple blog with pagination.
featured_image: /images/demo/blog.jpg
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Projects</h1>
		<p>An overview of all the current projects.</p>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/demo/email.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/demo-project">Email Security Project</a></h2>
					<p class="post__subtitle">Haaukins Platform</p>
					<p class="post__description">An analysis of the latest email security threats & actionable insights to improve defenses.</p>
				</div>
			</div>

		</article>

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/demo/password.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/password-project">Password Security Project</a></h2>
					<p class="post__subtitle">Haaukins Platform</p>
					<p class="post__description">A type of cyberattack where hackers attempt to access a file, folder, account, or computer secured with a password.</p>
				</div>
			</div>

		</article>


		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/demo/phishing.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/phising-project">Phishing Attack Project</a></h2>
					<p class="post__subtitle">Haaukins Platform</p>
					<p class="post__description">When attackers attempt to trick users into doing 'the wrong thing', such as clicking a bad link that will download malware, or direct them to a dodgy website</p>
				</div>
			</div>

		</article>
	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button pagination__prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}" class="button pagination__next"><span>Older Posts</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}