---
layout: default
title: Projects
description: Current projects of the Cybersecurity Lab
featured_image: /images/demo/projects.jpg
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url(/images/demo/code.jpg)">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Projects</h1>
		<p>An overview of all the current projects.</p>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/demo/challenges.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/ddc">The Danish Cybersecurity Championship</a></h2>
					<p class="post__subtitle">CTF development and workshops</p>
					<p class="post__description">The Cybersecurity Lab at CBS develops CTF challenges for the Danish Cybersecurity Championship. Additionally, workshops on data analysis with R and an introduction to the command line are provided.</p>
				</div>
			</div>

		</article>

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/demo/team.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/club">Cybersecurity Club</a></h2>
					<p class="post__subtitle">Building a cybersecurity community</p>
					<p class="post__description">The Cybersecurity Club aims to introduce students to cybersecurity by hosting events connecting students, researchers, and professionals.</p>
				</div>
			</div>

		</article>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button pagination__prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}" class="button pagination__next"><span>Older Posts</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}